<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header class="header-login">  
        <%- include('../partials/header.ejs') %>

        <%- include('../partials/nav-bar.ejs') %>
    </header> 
            <!--Carrito de Compras-->
        <div class="contenedor-carrito">
            <div class="contenedor-lista">
                <h2 class="titulo-principal">Carrito</h2>
<table class="tabla">
                    <thead>
                        <tr class="titulos">
                            <th class="titulo-articulo" colspan="2">Artículo</th>
                            <th class="titulo-precio">Precio</th>
                            <th class="titulo-cantidad">Cantidad</th>
                            <th class="titulo-total">Subtotal</th>
                        </tr>
                    </thead>

<form action="/cart/update?_method=PUT" class="formulario-cupon" method="POST" id="form-updateCart"></form>
    
        <tbody class="lista-articulos">

    


                            
                <tr class="articulo">
                    
                    <td class="articulo-eliminar">
                        <div class="conten  edor-boton-eliminar">
                            
                        </div>
                    </td>
                    
                    
                    <td class="articulo-img">
                            <div class="contenedor-articulo-img">
                            
                            
                            
                            </div>
                    </td>

                    
                    
                    

    
                    <td class="articulo-nombre">
                            
                    </td>
    
                    <td class="articulo-precio">
                        <div class="contenedor-precio">
                            <h2>No hay articulos</h2>
                        </div>
                    </td>
    
                    <td class="articulo-cantidad">
                        <div class="contenedor-cantidad">
                                        
                            
                                        
                        </div>
                    </td>
                    <td class="articulo-subtotal">
                        <div class="contenedor-subtotal">
                            <span class="subtotal"></span>
                        </div>
                    </td>
                </tr>    
                                    
                            
                        
                <tr>
                    <td colspan="6" class="fila-formulario-cupon">
                        <div class="contenedor-cupon">
                        
                            <input type="text" name="codigo" form="form-updateCart" class="input-cupon" placeholder="Código de Cupón">
                            <button type="submit" name="activar-cupon" class="activar-cupon"></button>
                            
                        </div>
                        <div class="contenedor-actualizarCarrito">
                            <button type="submit" name="actualizar-carrito" class="actualizar-carrito" form="form-updateCart">Actualizar Carrito</button>
                        </div>
                    </td>
                </tr>

            
        </tbody>



</table>
            </div>
            <div class="contenedor-resumen">
                <div class="resumen">
                    <h2 class="titulo-resumen">Totales</h2>
                    <table class="subtotal">
                        <tbody>
                            <tr class="subtotal-carrito">
                                <th class="resumen-titulo-subtotal">Subtotal</th>
                                <td>
                                    <div class="contenedor-resumen-subtotal">
                                        <span class="resumen-subtotal">$</span>
                                    </div>  
                                </td>
                            </tr>
                            <tr class="envio-carrito">
                                <th class="resumen-titulo-envio">Envio</th>
                                <td>
                                    <div class="contenedor-resumen-envio">
                                        <span class="resumen-subtotal">$500</span>
                                    </div>  
                                </td>
                            </tr>
                            <tr class="total-carrito">
                                <th class="total-carrito">Total</th>
                                <td>
                                    <div class="contenedor-total-carrito">
                                        <span class="resumen-total">$</span>
                                    </div>  
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <div class="boton-finalizar-compra">
                        <form action="#" class="formulario-finalizar-comprar">
                            <button type="submit" name="finalizar-compra" class="finalizar-compra">Finalizar compra</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <footer class="footer-login">
            <%- include('../partials/footer.ejs') %>
        </footer> 
        
</body>
</html>