<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head.ejs') %>
</head>
<body>
<header>  
    <%- include('./partials/header.ejs') %>

    <%- include('./partials/nav-bar.ejs') %>
</header>
        <!--BANNER-->
        <div class="banner">
        <img src="/img/banner.png" alt="Banner Vraiklat">
        </div>
        
        
<main>
        <!--PEDIDO HOY- 3 PRODUCTOS --->
        <section class="pedido-hoy">
            <h4 class="titular-pedido">¿Que vas a pedir hoy?</h4>
            <div class="pedido-productos">
                <article class="conteiner-helado">
                    <a href="/helados"> <img class="fotos-pedido" src="/img/helado-pedido.jpg" alt="Foto Helados"></a>
                    <p>Helado</p> 
                </article>
                <article class="conteiner-chocolate">
                    <a href="/chocolates"> <img class="fotos-pedido" src="/img/choco-pedido.jpg" alt="Foto-Chocolate"></a>
                    <p>Chocolate</p>
                </article>
                <article class="conteiner-alfajor">
                    <a href="/alfajores"> <img class="fotos-pedido" src="/img/alfajor-pedido.jpg" alt="Foto Alfajores"></a>
                    <p>Alfajor</p>
                </article>
            </div>
        </section>

        <!--PRODUCTOS POPÚLARES - 6 PRODUCTOS --->
        <h4 class="titular-popular">Productos Populares</h4>
        <section class="productos-populares">
            <div class="productos">
                <article>
                    <a href="/product"> <img class="fotos" src="/img/popu-1.jpg" alt="Foto 1"></a>
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">
                        <div class="descripcion">Barra de chocolate</div>
                    </div>
                </article>
                <article>
                    <img class="fotos" src="/img/popu-2.jpg" alt="Foto 2">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">  
                        <div class="descripcion">Chocolate </div>
                    </div>
                </article>
                <article>
                    <img class="fotos" src="/img/popu-3.jpg" alt="Foto 3">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">                     
                        <div class="descripcion">Tableta chocolate</div>
                    </div>
                </article>
                <article>
                    <img class="fotos" src="/img/popu-5.jpg" alt="Foto 4">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">
                        <div class="descripcion">Copa helado</div>
                    </div>           
                </article>
                <article>
                    <img class="fotos" src="/img/popu-4.jpg" alt="Foto 5">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">
                        <div class="descripcion">Snack</div>
                    </div>           
                </article>
                <article>
                    <img class="fotos" src="/img/popu-6.jpg" alt="Foto 6">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">
                        <div class="descripcion">Tableta</div>
                    </div>           
                </article>
                <article>
                    <img class="fotos" src="/img/popu-7.jpg" alt="Foto 7">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">
                        <div class="descripcion">Choco almendras</div>
                    </div>           
                </article>
                <article>
                    <img class="fotos" src="/img/popu-8.jpg" alt="Foto 8">
                    <div class="truck"><i class="fa-solid fa-truck"></i></div>
                    <div class="info-producto">
                        <div class="descripcion">Helado</div>
                    </div>           
                </article>

            </div>       
        </section>
    </main>
    <footer>
        <%- include('./partials/footer.ejs') %>
    </footer>  
</body>
</html>

