<!-- footer---->
<div class="bottom-footer">
  <!-- 5 elementos FOOTER --->
  <div>
    <h4 class="footer">Nosotros</h4>
  </div>

  <div>
    <div class="icon-preguntas">
      <i class="fa-solid fa-circle-question"></i>
    </div>
    <h4 class="footer">Preguntas Frecuentes</h4>
  </div>

  <div>
    <div class="icon-term&cond">
      <i class="fas fa-file-contract"></i>
    </div>
    <h4 class="footer">Términos y condiciones</h4>
  </div>

  <div>
    <div class="icon-metodos-pago">
      <i class="fa-brands fa-cc-mastercard"></i>
      <i class="fa-brands fa-cc-visa"></i>
      <i class="fa-brands fa-cc-amex"></i>
    </div>
    <h4 class="footer">Metodos de pago</h4>
  </div>

  <div>
    <div class="icon-redes">
      <i class="fa-brands fa-instagram"></i>
      <i class="fa-brands fa-facebook"></i>
    </div>
    <h4 class="footer">Redes</h4>
  </div>
</div>
