<div class="header-principal">
    <div class="header-principal-1">
        <!--BURGER-->
        <div class="hamburguesa">
            <i class="fa-solid fa-bars"></i>
        </div>
        <div class="logo-2">
            <img src="/img/vraiklat-logo.png/" alt="Logo Vraiklat-769pxVV">
        </div>
        
        <div class="logo-1">
            <img  src="/img/Logo.jpg" alt="Logo Vraiklat-769px^^">
        </div>   
    </div>
    <!-- BUSCADOR-->    
    <div class="iconos">
        <div class="body-buscar">
            <div class="buscar">
                <input type="text" placeholder="Buscar" required>
                <div class="btn">
                    <i class="fas fa-search icon"></i>
                </div>
            </div>
        </div>
        <!--LOGIN/REGISTER-->
        <div class="login-register">
            <a href="/login"><i class="fa-solid fa-user"></i></a>
        </div>
        <!--CARRITO-->
        <div class="carrito">
           <a href="/cart"><i class="fa-solid fa-cart-arrow-down"></i></a> 
        </div>  
    </div>
</div>