<!--NAV BAR-->
<nav class="barra-nav">
    <ul class="opciones">
        <li><a href="/#" class="button-navbar">HOME<a></li>
        <li><a href="/#" class="button-navbar">VRAIKLAT<a></li>
        <li><a href="/#" class="button-navbar">HELADOS<a></li>
        <li><a href="/#" class="button-navbar">CHOCOLATES<a></li>
        <li><a href="/#" class="button-navbar">ALFAJORES<a></li>
    </ul>
</nav>

