<!--NAV BAR-->
<nav class="barra-nav">
    <ul class="opciones">
        <li><a href="/home">HOME<a></li>
        <li><a href="/vraiklat">VRAIKLAT<a></li>
        <li><a href="/helados">HELADOS<a></li>
        <li><a href="/chocolates">CHOCOLATES<a></li>
        <li><a href="/alfajores">ALFAJORES<a></li>
    </ul>
</nav>