<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c09ff292ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/panel-admin.css">
</head>

<div class="panel-admin-desplegado">

    <div class="logo-panel-admin">
        <img src="/img/vraiklat-logo.png" alt="Logo Vraiklat-769pxVV">
    </div>

    <div class="flechas">
        <div class="slider__btn slider__btn--right" id="btn-right">&#62;</div>
        <div class="slider__btn slider__btn--left" id="btn-left">&#60;</div>
    </div>
    

    <div class="panel-iconos">
        
        <div class="titulo-admin-carrito" id="productos-titulo">
            <div class="contenedor-icono-btn">
                <a href="/products-admin" class="btn-panel"><i class="fa-solid fa-cart-shopping" id="icono-panel"></i></a>
            </div>
            <div class="texto"> 
                Productos
            </div>
        </div>

        <div class="subtitulos-contenedor">
            <ul class="subtitulos" id="productos-subtitulos">
                <li class="texto-subtitulo">
                    Listado
                </li>

                <li class="texto-subtitulo">
                    Editar
                </li>

                <li class="texto-subtitulo">
                    Stock
                </li>
            </ul>
        </div>


        <div class="titulo-admin" id="usuarios-titulo">
            <div class="contenedor-icono-btn">
                <a href="/users-admin" class="btn-panel"><i class="fa-solid fa-user" id="icono-panel"></i></a>
            </div>
            
            <div class="texto">
                Usuarios
            </div>
        </div>

        <div class="subtitulos-contenedor">
            <ul class="subtitulos" id="usuarios-subtitulos">
                <li class="texto-subtitulo">
                    Listado
                </li>

                <li class="texto-subtitulo">
                    Editar
                </li>

                <li class="texto-subtitulo">
                    X
                </li>
            </ul>
        </div>


        <div class="titulo-admin" id="descuentos-titulo">
            <div class="contenedor-icono-btn">
                <i class="fa-solid fa-percent" id="icono-panel"></i></i>
            </div>
            
            <div class="texto">
                Descuentos
            </div>
        </div>

        <div class="subtitulos-contenedor">
            <ul class="subtitulos" id="descuentos-subtitulos">
                <li class="texto-subtitulo">
                    X
                </li>

                <li class="texto-subtitulo">
                    X
                </li>

                <li class="texto-subtitulo">
                    X
                </li>
            </ul>
        </div>

        <div class="titulo-admin" id="pedidos-titulo">
            <div class="contenedor-icono-btn">
                <i class="fa-solid fa-list-check" id="icono-panel"></i>
            </div>
            
            <div class="texto">
                Pedidos
            </div>
        </div>

        <div class="subtitulos-contenedor">
            <ul class="subtitulos" id="pedidos-subtitulos">
                <li class="texto-subtitulo">
                    X
                </li>

                <li class="texto-subtitulo">
                    X
                </li>

                <li class="texto-subtitulo">
                    X
                </li>
            </ul>
        </div>

        <div class="titulo-admin">
            <div class="contenedor-icono-btn">
                <i class="fa-sharp fa-solid fa-right-from-bracket" id="icono-panel"></i>
            </div>
            
            <div class="texto" >
                Salir
            </div>
        </div>
    </div>
    


</div>