<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/c09ff292ee.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="css/panel-admin.css">
    <title>Lista Usuarios</title>
</head>

<body class="panelControlContainer">

    <%- include('../partials/side-bar.ejs') %>

    <div class="contenido-panel">
        <%- include('../partials/listUsersAdmin.ejs') %>
    </div>

    <script src="/js/panel-admin.js"></script> 

</body>
</html>