<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head.ejs') %>
</head>
<body>
    <header class="header-login">  
        <%- include('../partials/header.ejs') %>

        <%- include('../partials/nav-bar.ejs') %>
    </header> 
            
    <section class="formulario-login">       
        <form action="/" method="GET" class="formulario">

            <div class="contenedor-usuario">
                <input type="text"  name="inp-usuario" class="inp-usuario" placeholder="Nombre de Usuario" required minlength="4">
            </div>

            <div class="contrase">
                <input type="password" name="contraseña" class="inp-contrase" placeholder="Ingrese su contraseña" required minlength="8" >
            </div>

            <div class="boton">
                <button type="submit">Enviar</button>
            </div>
        </form>
        <div class="no-tienes-cuenta">
            <span>¿No tienes una cuenta?</span>
            <div class="link-registrar"><a href="/register">Crear cuenta</a></div>
        </div>
    </section>            
    
    <footer class="footer-login">
        <%- include('../partials/footer.ejs') %>
    </footer> 
    
</body>           
</html>